* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url("SF-Pro-Display-Light.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
    font-family: "Computer Modern", sans-serif;
}

body {
    font-family: "SF Pro Display Light";
    /* center text */
    text-align: center;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

/*****************************************************************************/

/* prose */

.md-prose {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    grid-area: main;
    min-width: 0px;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--hue-0750);
    word-wrap: break-word;
}

.md-prose > :first-child {
    margin-top: 0px;
}

.md-prose > :last-child {
    margin-bottom: 0px;
}

.md-prose p {
    margin-top: 0px;
}

.md-prose p {
    margin-bottom: 1rem;
}

.md-prose p,
.md-prose strong {
    font-weight: 600;
}

.md-prose .icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.md-prose {
    /*****************************************************************************/
    /* links */
}

.md-prose a {
    color: var(--base0D);
}

.md-prose a {
    text-decoration: none;
}

.md-prose a:hover {
    text-decoration: underline;
}

.md-prose a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.md-prose {
    /*****************************************************************************/
    /* headings */
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
    margin: 0px;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 2rem;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1rem;
}

.md-prose h1 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.md-prose h1 {
    font-size: 1.625rem;
}

.md-prose h2 {
    font-size: 1.5rem;
}

.md-prose h3 {
    font-size: 1.25rem;
}

.md-prose h4 {
    font-size: 1.125rem;
}

.md-prose h5,
.md-prose h6 {
    font-size: 1rem;
}

.md-prose {
    /*****************************************************************************/
    /* heading anchors */
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
    position: relative;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
    scroll-snap-margin-top: 1em;
    scroll-margin-top: 1em;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    position: absolute;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    top: 0px;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    left: -1.5rem;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    right: 0px;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    z-index: 10;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    display: flex;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    height: 100%;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    align-items: center;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
    line-height: 1;
}

.md-prose :is(h1, h2, h3, h4, h5, h6):hover a,
.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover {
    text-decoration: none;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) .icon-link {
    display: flex;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) .icon-link {
    height: 100%;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) .icon-link {
    align-items: center;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) .icon-link {
    color: var(--base0D);
    vertical-align: middle;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link::before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    visibility: hidden;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover .icon-link,
.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link:hover,
.md-prose :is(h1, h2, h3, h4, h5, h6):hover a .icon-link,
.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover .icon-link::before,
.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link:hover::before,
.md-prose :is(h1, h2, h3, h4, h5, h6):hover a .icon-link::before {
    opacity: 1;
    visibility: visible;
}

.md-prose {
    /*****************************************************************************/
    /* images */
}

.md-prose img {
    border-style: none;
    max-width: 100%;
    background-color: var(--hue-0000);
}

.md-prose {
    /*****************************************************************************/
    /* blocks */
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    position: relative;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    margin-top: 0px;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    margin-bottom: 0.75rem;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    display: block;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    border-radius: 0.5rem;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    border-left-width: 2px;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    border-right-width: 2px;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    border-color: currentColor;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.md-prose docs-info,
.md-prose docs-warning,
.md-prose docs-error {
    padding-left: 1rem;
    padding-right: 1rem;
}

.md-prose docs-warning {
    --tw-text-opacity: 1;
    color: rgba(117, 92, 1, var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-warning {
        --tw-text-opacity: 1;
        color: rgba(254, 228, 134, var(--tw-text-opacity));
    }
}

.md-prose docs-warning {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 204, 27, var(--tw-bg-opacity));
}

.md-prose docs-warning {
    --tw-bg-opacity: 15%;
}

.md-prose docs-info {
    --tw-text-opacity: 1;
    color: rgba(0, 99, 220, var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-info {
        --tw-text-opacity: 1;
        color: rgba(118, 180, 255, var(--tw-text-opacity));
    }
}

.md-prose docs-info {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 99, 220, var(--tw-bg-opacity));
}

.md-prose docs-info {
    --tw-bg-opacity: 0.1;
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-info {
        --tw-bg-opacity: 1;
        background-color: rgba(118, 180, 255, var(--tw-bg-opacity));
    }
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-info {
        --tw-bg-opacity: 0.1;
    }
}

.md-prose docs-error {
    --tw-text-opacity: 1;
    color: rgba(206, 12, 27, var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-error {
        --tw-text-opacity: 1;
        color: rgba(246, 100, 111, var(--tw-text-opacity));
    }
}

.md-prose docs-error {
    --tw-bg-opacity: 1;
    background-color: rgba(206, 12, 27, var(--tw-bg-opacity));
}

.md-prose docs-error {
    --tw-bg-opacity: 0.1;
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-error {
        --tw-bg-opacity: 1;
        background-color: rgba(246, 100, 111, var(--tw-bg-opacity));
    }
}

@media (prefers-color-scheme: dark) {
    .md-prose docs-error {
        --tw-bg-opacity: 0.1;
    }
}

.md-prose docs-cards {
    display: flex;
}

.md-prose docs-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.md-prose docs-cards {
    flex-direction: column;
}

.md-prose docs-cards {
    gap: 2rem;
}

@media (min-width: 768px) {
    .md-prose docs-cards {
        display: grid;
    }
}

.md-prose docs-cards > a {
    display: block;
}

.md-prose docs-cards > a {
    border-radius: 0.25rem;
}

.md-prose docs-cards > a {
    color: unset;
}

.md-prose docs-cards > a:hover {
    text-decoration: unset;
}

.md-prose docs-card {
    display: block;
}

.md-prose docs-card {
    height: 100%;
}

.md-prose docs-card {
    width: 100%;
}

.md-prose docs-card {
    border-radius: 0.25rem;
}

.md-prose docs-card {
    border-width: 1px;
}

.md-prose docs-card {
    border-color: var(--hue-0200);
}

.md-prose docs-card {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.md-prose docs-card {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.md-prose docs-card {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.md-prose docs-card {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.md-prose docs-card > :first-child {
    margin-top: 0px;
}

.md-prose docs-card > :last-child {
    margin-bottom: 0px;
}

.md-prose a:hover docs-card {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* icons */
#icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 10px;
}

/* sections */
.header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > .name {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: 4rem;
    justify-content: center;
    align-items: flex-start;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-name: slide;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-fill-mode: forwards;
}
@keyframes slide {
    100% {
        font-size: 2rem;
        top: 10%;
    }
}

#row-menu {
    min-width: 100px;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 10em;
    height: 10em;
    border-radius: 10rem;
    box-shadow: 0px 0px 20px #8c8c8c;
    object-fit: cover;
    border: 2px solid #0000;
    opacity: 0;
    animation: reveal 1s ease-in-out 1.5s forwards;
    transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 768px) {
    .container > img:hover {
        box-shadow: 0px 0px 40px #939393;
        height: 20rem;
        width: 15rem;
        border-radius: 1rem;
        border-width: 5px;
    }
}

#col-menu {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

@media screen and (max-width: 750px) {
    .container > img {
        padding: 0;
        margin-top: 6rem;
        margin-bottom: 0;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
}

.homepage-link {
    font-family: "Source Code Pro", monospace;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0;
    animation-name: reveal;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    padding: 10px;
}
.homepage-link:hover {
    font-weight: bold;
    text-decoration: overline;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.download-button-container {
    margin-top: 20px;
}

.download-link {
    font-family: "Source Code Pro", monospace;
    width: 100%;
    color: #2bcb2b;
    text-shadow: 0px 0px 10px #2bcb2b;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 20px;
    background: #323232;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}
.download-link:hover {
    font-weight: bold;
    color: #95ff95;
}

.back-button {
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button:hover {
    font-weight: bold;
}

/* title */
#main-title {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.5rem;
}

#about-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#about-link {
    padding: 5px;
    font-size: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
}
#about-link:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    transition: all 0.5s ease;
}

.cv-main {
    text-align: justify;
    min-height: 200vh;
    padding: 6rem 1rem 1rem;
}

.cv-main > h1,
.cv-main > p {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.cv-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.cv-title {
    margin: 0rem;
    padding: 0rem;
}

.cv-title > h1 {
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.cv-container {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16fr));
    gap: 3rem;
    justify-content: center;
}

.cv-card {
    background-color: #e9cfb6;
    overflow: hidden;
    box-shadow: 0 2px 20px #bababa;
    display: flex;
    justify-content: space-between;
    /* cursor: pointer; */
    border-radius: 0.5rem;
    transition: transform 0.1s ease-in;
}

.cv-card:hover {
    transform: scale(1.025);
}

.cv-card-body > img {
    box-shadow: 0 2px 15px #6a553e;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.cv-card-body {
    width: 100%;
}

.cv-card-title {
    font-weight: bold;
    padding: 1rem;
}

.cv-card-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-card-title-container > img {
    height: 2rem;
    width: auto;
}

.cv-card-description {
    padding-bottom: 1rem;
}

.cv-content {
    font-weight: normal;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-align: justify;
}

.cv-content > h3 {
    box-shadow: 0px 0px 15px rgba(102, 72, 40, 0.6);
    background-color: #b4987a;
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cv-content > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cv-content > ul li {
    margin: 0.5rem;
}

.cv-content > ul li::before {
    font-family: Verdana;
    content: "\2022";
    color: #ccb194;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
}

p.bold {
    display: inline;
    font-weight: bold;
}

/* progress bar */
.progressbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 85%;
}

.progressbar-background {
    background-color: black;
    display: block;
    position: fixed;
    top: 3px;
}

.progressbar-background {
    display: block;
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 0 8px 4px #ccb194;
}

.progressbar-fill {
    display: block;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    background: linear-gradient(0.25turn, #6a553e, #f99d6f);
    transition: all 1.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .cv-container {
        display: flex;
        margin: 1rem;
        flex-direction: column;
        padding: 1rem;
    }

    .download-link {
        font-size: 1rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .cv-title {
        font-size: 0.75rem;
    }

    .cv-card-description {
        padding: 0;
    }

    .cv-card-body > img {
        height: 18rem;
        width: 100%;
    }

    .cv-card:hover {
        transform: none;
    }
}

/* navbar */

/*

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    background-color: black;
    color: white;
}

.navbar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li > a {
    text-decoration: none;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    padding: 0 0.3rem;
    color: inherit;
}

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
}

@media screen and (max-width: 767px) {
    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 0;
        right: -100vw;
        bottom: 0;
        height: 100%;
        padding: 2rem;
        background-color: black;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    .show-nav .navbar__links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    .navbar__link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar__item::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: white;
    }

    .navbar__item:last-child::after {
        display: none;
    }

    .navbar__burger {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
        transition: all 0.2s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        width: 0;
        background: transparent;
    }
    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    .show-nav .navbar__item {
        transform: translateY(0);
    }
    .navbar__item {
        transform: translateY(100vh);
    }

    .show-nav .slideInDown-1 {
        transition: all 0.3s ease-out;
    }
} */

/* ----------------------------- */
.about-container {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(#7f6969, #372d2d);
}

.about-box {
    margin: 10%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 0 50px 100px;
    background: linear-gradient(#282828, #101010);
    box-shadow: 0px 10px 30px -5px #120d0d;
    border-radius: 20px;
    font-family: "Source Code Pro", monospace;
}

.about-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0;
}

.about-box ul:last-of-type {
    top: 60px;
}

.about-box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #116a11;
    box-shadow: 0px 0px 15px #116a11;
    position: absolute;
    top: 0;
    left: 30px;
}

.about-box ul li {
    margin: 10px 60px 100px;
    position: relative;
    color: #d6d6d6;
    border-radius: 10px;
    line-height: 20px;
    width: 75%;
    max-width: 800px;
}

.about-box ul li > span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #2bcb2b;
    position: absolute;
    top: 0;
    left: -30px;
}

.about-box ul li > span:before,
.about-box ul li > span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #2bcb2b;
    box-shadow: 0 0 10px #116a11;
    position: absolute;
    left: -7.1px;
}

.about-box ul li > span:before {
    top: -13px;
}
.about-box ul li > span:after {
    top: 100%;
}

.about-box ul li > .info {
    text-align: justify;
    padding: 10px 20px 15px 20px;
    margin-bottom: 20px;
    background: linear-gradient(140deg, #3b583e, #2f362e, #333333);
    color: #caefce;
    text-shadow: 0 0 5px #7b897d;
    border-radius: 15px;
    line-height: 20px;
    transition: all 0.1s ease-in-out;
}

.about-box ul li > .info:hover {
    transform: scale(1.05);
}

.about-box .title {
    /* text-transform: uppercase; */
    position: relative;
    top: -15px;
    left: -10px;
    color: #2bcb2b;
    text-align: left;
    text-shadow: 0px 0px 10px #119c11;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.about-box .info:first-letter {
    text-transform: capitalize;
    line-height: 1.5;
}

.about-box .name {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

.about-box .time span {
    position: absolute;
    left: -110px;
    color: #2bcb2b;
    text-shadow: 0px 0px 10px #119c11;
    font-size: 80%;
    font-weight: light;
}
.about-box .time span:first-child {
    top: -16px;
}
.about-box .time span:last-child {
    top: 94%;
}

.about-attribute {
    color: #dddd5a;
    text-shadow: 0 0 5px #767602;
}

.about-attribute-int {
    color: #ff6767;
    text-shadow: 0 0 5px #bb6565;
}

.about-attribute-link {
    text-decoration: none;
    color: #69aaf9;
    text-shadow: 0 0 5px #9bbbe2;
}

.info-paragraph {
    padding-left: 30px;
}

.about-attribute-email {
    word-break: break-all;
    color: #69aaf9;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .about-box {
        margin: 5%;
        padding: 0 0 10px 0px;
        border-radius: 15px;
    }

    .about-box ul:before {
        left: 20px;
    }

    .about-box ul li {
        margin: 10px 40px 80px;
        border-radius: 10px;
        line-height: 10px;
        width: 85%;
    }

    .about-box ul li > .info:hover {
        transform: none;
    }

    .info-paragraph {
        padding-left: 15px;
    }

    .about-box ul li > span {
        left: -20px;
    }

    .about-box ul li > .info {
        padding: 5px 20px 10px 10px;
        border-radius: 10px;
        font-size: 0.75rem;
    }

    .about-box .title {
        left: -5px;
    }

    .about-attribute-email {
        position: relative;
        font-size: 0.75rem;
        word-break: break-all;
        color: #69aaf9;
        text-decoration: none;
    }
}

@media screen and (max-width: 330px) {
    .about-box ul li {
        width: 80%;
    }
}

/* ----------------------------------------- */
/* -------------- ART PAGE ----------------- */
/* ----------------------------------------- */

@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v23/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B7y03Sup6hNX6plRP.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

.artpage {
    height: 100vh;
    background: #000000;
    height: auto;
}

.artpage-title {
    font-family: "Dancing Script", cursive;
}

.artpage-image {
    width: 45vw;
    height: 45vw;
    object-fit: cover;
    margin: 2vw;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.artpage-homepage {
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 2vw;
    color: white;
    padding-bottom: 2vh;
}

@media screen and (max-width: 768px) {
    .artpage-image {
        width: 100%;
        height: auto;
    }
    .artpage-homepage {
        font-size: 2rem;
    }
}
.artpage-image:hover {
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .artpage-header-image {
        width: 100%;
        height: 100%;
    }
}
